attrs>=20.1.0
bleach==4.1.0
cachetools==4.2.4
docutils==0.18.1
click>=8.0.4, <8.1.0
cryptography>=42
google-auth>=2.22.0
jaraco.classes==3.2.1
jeepney==0.7.1
jinja2==3.1.5
keyring==21.8.0
markupsafe==2.0.1
protobuf>=4.21.6
packaging>=20.0
pyjwt>=2.0.0
pyperclip>=1.8.0
python-dateutil>=2.8.1
readme-renderer==34.0
requests>=2.31.0
rfc3986==1.5.0
twine==3.8.0
wheel
zipp==3.19.1
