attrs
bleach==4.1.0
cachetools==4.2.4
docutils==0.18.1
click>=8.0.4, <8.1.0
cryptography
google-auth
importlib-metadata==4.8.3
jaraco.classes==3.2.1
jeepney==0.7.1
jinja2==3.0.3
keyring==23.4.1
markupsafe==2.0.1
protobuf==3.19.6
packaging
pyjwt==2.4.0
pyperclip
python-dateutil
readme-renderer==34.0
requests==2.27.1
rfc3986==1.5.0
setuptools
twine==3.8.0
wheel
zipp==3.6.0
